.App {
  text-align: center;
}

.Container {
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: auto;
  min-width: 200px;
  border: 3px solid black;
  border-radius: 5px;
  overflow-y: scroll;
  text-align: center;
  background: white;
}

.ResumeContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 50%;
  text-align: center;
  min-width: 200px;
  border: 3px solid black;
  border-radius: 5px;
  overflow-y: scroll;
  background: white;
}


.button {
     width: 17px;
     height: 17px;
     border: 2px solid black;
     border-radius: 50%;
     font-size: 8pt;
     font-family: tahoma;
     margin: 1px;
     position:absolute;
     background:#d63c3a;
     top:0;
     left:0;
}

.button:hover {
  background: #e86461;
}

.icon {
  text-align: center;
}
.icon-img {
 height: 50px;
}

.subtext {
  font-family: monospace;
  display: block;
}

.iconLayout {
  margin: 25px;
  float: left;
  display: grid;
  gap: 20px;
}


.portrait {
  height: 160px;
  border-radius: 50%;
}

.Title {
  letter-spacing: 0.2em;
  font-family: monospace;
  font-size: xx-large;
  font-weight: 900;
}
.Body {
  overflow-wrap: break-word;
  margin:0 auto;
  max-width: 80%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2em; 
  font-family: monospace;
  letter-spacing: 0.005em;
}

.ResumeTitle {
  text-align: center;
  letter-spacing: 0.2em;
  font-family: monospace;
  font-size: x-large;
  font-weight: 900;
  text-decoration: underline;
}
.ResumeDate { 
  text-align: center;
  font-family: monospace;
}
.ResumePoint {
  max-width: fit-content(2em);
  text-align: center;
  font-family: monospace;
  font-size: large;
 }

